In [1]:
import pandas as pd
import os

###  Load Data ###

data_dir = "Sales_Data/"
files = [file for file in os.listdir(data_dir)]

df = pd.read_csv(os.path.join(data_dir,files[0]))
df.head()

### Merge data in all files

In [52]:
all_data = pd.DataFrame()
for file in files:
    
    f = os.path.join(data_dir,file)
    df1 = pd.read_csv(f)
    all_data = pd.concat([all_data,df1])
    
all_data.to_csv("all_data.csv",index=False)
print(all_data.shape)

(186850, 6)

### Read data from merged file

In [54]:
all_data = pd.read_csv("all_data.csv")
all_data.head()
print(all_data.shape)

(186850, 6)

### Data Cleaning

these are the basic step of data cleaning.

1. remove Nan values
2.remove duplicates

In [56]:
## select rows contain Nan values
Nan_rows = all_data[all_data.isnull().any(axis=1)]
print(Nan_rows.shape)
print(all_data.shape)

(545, 6)
(186850, 6)

In [58]:
##drop rows contain NaN values
all_data = all_data.dropna(how = 'any')
print(all_data.shape)

In [61]:
x = all_data.dtypes
x

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object

##### TASK 01 : find highest sales month

In [ ]:
Data augmentation 

add additiona columns to more information